/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#dark-blue-button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

#blue-button {
    -fx-background-color:
        linear-gradient(#a3d6f1, #1fb7ff),
        radial-gradient(center 50% -40%, radius 200%, #45bff9 45%, #40b3e9 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.loginView-buttons {
	-fx-focus-color: #ffffff;
    -fx-background-color:
        linear-gradient(#275c87, #183d5b),
        radial-gradient(center 50% -40%, radius 200%, #2e6a9b 45%, #265881 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ffffff;
}

.loginView-buttons:hover {
    -fx-background-color:
        linear-gradient(#87d5fa, #6cccf9),
        radial-gradient(center 50% -40%, radius 200%, #347fbc 45%, #3075ae 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ededed;
}

.go-button {
	-fx-focus-color: #ffffff;
    -fx-background-color:
        linear-gradient(#268644, #206d37),
        radial-gradient(center 50% -40%, radius 200%, #2fa152 45%, #268142 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ffffff;
}

.go-button:hover {
    -fx-background-color:
        linear-gradient(#87fac5, #6cf9ae),
        radial-gradient(center 50% -40%, radius 200%, #35c869 45%, #30ae5c 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ededed;
}

.activate-button {
	-fx-focus-color: #ffffff;
    -fx-background-color:
        linear-gradient(#268644, #206d37),
        radial-gradient(center 50% -40%, radius 200%, #2fa152 45%, #268142 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ffffff;
}

.activate-button:hover {
    -fx-background-color:
        linear-gradient(#87fac5, #6cf9ae),
        radial-gradient(center 50% -40%, radius 200%, #35c869 45%, #30ae5c 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ededed;
}


.sign-out-button {
	-fx-focus-color: #ffffff;
    -fx-background-color:
        linear-gradient(#862626, #6d2020),
        radial-gradient(center 50% -40%, radius 200%, #a12f2f 45%, #812626 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ffffff;
}

.sign-out-button:hover {
    -fx-background-color:
        linear-gradient(#fa8787, #f96c6c),
        radial-gradient(center 50% -40%, radius 200%, #c83535 45%, #ae3030 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ededed;
}


.deactivate-button {
	-fx-focus-color: #ffffff;
    -fx-background-color:
        linear-gradient(#862626, #6d2020),
        radial-gradient(center 50% -40%, radius 200%, #a12f2f 45%, #812626 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ffffff;
}

.deactivate-button:hover {
    -fx-background-color:
        linear-gradient(#fa8787, #f96c6c),
        radial-gradient(center 50% -40%, radius 200%, #c83535 45%, #ae3030 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ededed;
}



.cancel-button {
	-fx-focus-color: #ffffff;
    -fx-background-color:
        linear-gradient(#862626, #6d2020),
        radial-gradient(center 50% -40%, radius 200%, #a12f2f 45%, #812626 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ffffff;
}

.cancel-button:hover {
    -fx-background-color:
        linear-gradient(#fa8787, #f96c6c),
        radial-gradient(center 50% -40%, radius 200%, #c83535 45%, #ae3030 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ededed;
}

.pressedButton {
    -fx-background-color:
        linear-gradient(#87d5fa, #6cccf9),
        radial-gradient(center 50% -40%, radius 200%, #347fbc 45%, #3075ae 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #ededed;
}

.text-field-first {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field-first:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.check-box-fist .box {

-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px; 

}

.check-box-first:selected .mark {

-fx-background-color: white;

}

.check-box-first:selected .box {

-fx-background-color: #28a3f4;
}

.label-first {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.label-welcome {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.label-header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.header-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.hbox-first{
	-fx-border-style: solid inside;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #d0e6f8;
    -fx-pref-height: 30;
}

.hbox-second{
	-fx-border-style: solid inside;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #d0e6f8;
    -fx-pref-height: 50;
}

.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 0 0 0 0;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}